<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">upload</button>
    </form>
    {% for images in image.all %}
    <img src="{{images.Images.url}}" style="hight:300px; width:300px" alt="Image not show">
    {% endfor %}
</body>
</html>